* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@500;700&display=swap');

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f0455;
    color: #221a2c;
    font-family: 'Inter', sans-serif;
}

header {
    height: auto;
    width: 95%;
    padding: 40px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

h1 {
    padding-left: 40px;
    border-bottom: solid #5a189a 3px;
}

.apresentacao {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px;
    border-bottom: solid #5a189a 3px;
}

.informacoes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacoes h2 {
    font-size: 2.5rem;
    padding-bottom: 46px;
}

.informacoes p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.imagemApresentacao {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemApresentacao img {
    height: 80%;
    width: 90%;
    border-radius: 50%;
    border: solid 2px #2f0455;
}

main {
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FFFFFF;
}

.habilidades {
    height: auto;
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    border-bottom: solid #5a189a 3px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 48px;
}

li {
    font-size: 1.2rem;
    line-height: 1.5;
}

.projetos {
    height: auto;
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px;
    border-bottom: solid #5a189a 3px;
}

.projeto {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
    margin: 0 auto;
}

.bordaDivisoria {
    border-bottom: solid #5a189a5e 2px;
}

.dadosProjeto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dadosProjeto img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    background-color: #ddd;
    border: solid 2px #2f0455;
}

.dadosProjeto h3 {
    font-size: 1.2rem;
    margin: 16px 0;
    text-align: center;
}

button {
    color: #ddd;
    border: none;
    padding: 10px 28px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.5s ease;
    background-color: #2f0455;
}

button:hover {
    background-color: #5f0f40;
}

.descricao {
    max-width: 600px;
    padding-bottom: 100px;
}

.descricao p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.formacao {
    width: 97%;
    padding: 40px;
    border-bottom: solid #5a189a 3px;
}

.formacao h2 {
    font-size: 2rem;
    color: #1a202c;
    margin-bottom: 30px;
}

.curso {
    margin-bottom: 25px;
    border-left: 4px solid #5a189a;
    padding-left: 16px;
}

.curso h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.curso p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 4px;
}

footer {
    height: auto;
    width: 95%;
    padding: 80px;
    padding-top: 40px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    background-color: #FFFFFF;
}

.contato {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 1.2rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #221a2c;
    cursor: pointer;
}


@media (max-width: 1200px) {

    body {
        line-height: 1.2;
    }
    .informacoes h2 {
        font-size: 2rem;
    }

    .informacoes p {
        font-size: 1rem;
    }

    li {
        line-height: 1.2;
    }

    .descricao p {
        line-height: 1.2;
    }

    .curso p {
        line-height: 1.2;
    }

    .experiencia-profissional p {
        line-height: 1.2;
    }

    .contato {
        line-height: 1.2;
    }
}

@media (max-width: 1050px) {

    .apresentacao {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding: 40px;
        border-bottom: solid #5a189a 3px;
    }
    
    .informacoes {
        width: 100%;
    }


    .informacoes h2 {
        padding-bottom: 24px;
        width: 50%;
        position: relative;
    }

    .imagemApresentacao {
        height: 125px;
        width: 125px;
        justify-content: end;
        align-items: start;
        position: absolute;
        right: 70px;
        top: 125px;
    }

    .imagemApresentacao img {
        height: 100%;
        width: 100%;
        border-radius: 12px;

    }

    .dadosProjeto img {
        width: 150px;
        height: 150px;
        border-radius: 8px;
    }
}

@media (max-width: 850px) {

    .projeto {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 40px 0;
        margin: 0 auto;
    }
    
    .leagueOfLegends {
        border-bottom: solid #5a189a5e 2px;
    }
    
    .dadosProjeto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .dadosProjeto img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
        background-color: #ddd;
        border: solid 2px #2f0455;
    }
    
    .dadosProjeto h3 {
        font-size: 1.2rem;
        margin: 16px 0;
        text-align: center;
    }

    .descricao {
        max-width: 600px;
        padding-bottom: 0px;
    }
}

@media (max-width: 600px) {
    .imagemApresentacao {
        top: 170px;
    }
}

@media (max-width: 470px) {

    h1 {
        padding-left: 0px;
        border-bottom: solid #5a189a 3px;
    }

    .apresentacao {
        padding: 0px;
        padding-bottom: 40px;
        margin-top: 40px;
    }

    .imagemApresentacao {
        top: 190px;
        right: 40px;
    }

    .habilidades {
        margin-top: 40px;
        padding: 0px;
        padding-bottom: 40px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding-left: 20px;
    }

    .projetos {
        padding: 0px;
        margin-top: 40px;
    }

    .formacao {
        padding: 0px;
        margin-top: 40px;
    }

    footer {
        padding: 20px;
    }
}