*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #F7FAFC;
    justify-content: center;
}

header{
    height: 550px;
    width: 95%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #1A202C;
}

h1 {
    border-bottom: solid #2C5282 3px;
}

.apresentacao {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 50px;
    padding-top: 40px;
    border-bottom: solid #2C5282 3px;
}

.informacoes {
    width: 50%;
}

.informacoes h2{
        font-size: 2.5rem;
    padding-bottom: 46px;
}

.imagemApresentacao {
    width: 50%;
}
.imagemApresentacao img {
    height: 70%;
    width: 100%;
    border-radius: 6px;
}